main {
  margin: 24px;
}

.report-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style-type: none;
  margin-block: 48px;
}

.report-card li {
  background-color: rgb(196, 196, 196);
  width: 50%;
  border-radius: 16px;
  padding: 8px 24px;
  transition: transform 200ms ease-in-out;
}
.report-card li a {
  color: black;
}
.report-card li:hover {
  transform: scale(1.02);
}

.report-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}

.report-form label {
  font-weight: bold;
}

.report-form input,
.report-form select,
.report-form textarea {
  padding: 8px;
}

.report-form-error {
  min-height: 20px;
  color: orange;
  text-align: center;
}